# ======================================
# DATABASE
# ======================================

POSTGRES_DB=telemed
POSTGRES_USER=telemed
POSTGRES_PASSWORD=admin7773

DATABASE_URL=postgresql://telemed:admin7773@db:5432/telemed


# ======================================
# BACKEND
# ======================================

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

JWT_SECRET=86f939dea630b3b52bd6cad6523df81edf60f56013965ebf48d90ba1f1cdc780
JWT_ALGORITHM=HS256


# ======================================
# BLOCKCHAIN
# ======================================

ETHEREUM_RPC_URL=http://blockchain:8545

CHAIN_ID=31337

CONTRACT_ADDRESS=

PRIVATE_KEY=


# ======================================
# FRONTEND
# ======================================

VITE_API_URL=http://localhost:8000
VITE_CHAIN_ID=31337
